/* 
    Document   : style
    Created on : 25-giu-2012, 15.09.59
    Author     : NERTIL
    Description:
        Purpose of the stylesheet follows.
*/

root { 
	display: block;
}
.top-panel
{
	width: 100%;
	border: 1px solid #99BBE8;   
	border-bottom: 0px;
	background-color: #E9E7E7;
	background-repeat: no-repeat;
	background-position-x: 5px;
	background-position-y: 5px;
	height: 85px;
}
.top-panel-title-label
{
	font-size: 36px;
	font-weight: bold;
	font-family: verdana;
	font-style: italic;
	color: #15428B;
}
.top-panel-logo
{
	cursor: hand;
	cursor: pointer;
	margin-left: 10px;
}
.top-panel-messages-button
{
	width: 100px;
}
.top-panel-info-panel
{
	margin: 10px;
}
.relations-title
{
	color: #15428B;
	font-weight: bold;
	font-size: 12px;
	width: 120px;
}
.access-denied
{
	font-family: Arial;
	color: red;
}
.top-panel-user-label
{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: verdana;
	color: #15428B;
}
.inner-form-panel
{
	margin-bottom: 5px;
}
