#loading {
	position: absolute;
	left: 45%;
	top: 40%;
	margin-left: -45px;
	padding: 2px;
	z-index: 20001;
	height: auto;
	border: 1px solid #ccc;
}
#loading a {
	color: #225588;
}
#loading .loading-indicator {
	background: white;
	color: #444;
	font: bold 13px tahoma, arial, helvetica;
	padding: 10px;
	margin: 0;
	height: auto;
}
#loading .loading-indicator img {
	margin-right:8px;
	float:left;
	vertical-align:top;
}
#loading-msg {
	font: normal 10px arial, tahoma, sans-serif;
}
.port{
	background-color: white;
}
.page{
	border: 1px solid lightgray;
	background-color: white; 
}

.header{
	background-color: lightgrey;
}
.header-galanoe{
	height: 90px;
	margin-right: 10px;
	cursor: hand;
	cursor: pointer;
}
.header-text{
	font-size: 48px;
	font-weight: bold;
	padding-left: 30px;
	color: gray;
}
.footer{
	background-color: darkgray;
	padding: 2px !important;
}
.footer-logo{
	height: 95px;
	margin-right: 10px;
	cursor: hand;
	cursor: pointer;
}
.footer-edit-panel
{
	height: 95px;
        margin-top: 5px  !important; 
}
.footer-edit-panel-contact-label{
	font-weight: bold;
	color: #444;
}
.footer-texti-panel
{
	height: 90px;
        margin-top: 1px  !important; 
}
.footer-edit-panel-contact-texti{
	/*font-weight: bold;*/
	padding-top: 1px  !important; 
	padding-left: 40px !important;
	padding-right: 40px !important;
	text-align: justify;
	color: #444;



}

.sg-card
{
	border: 1px solid #DDDDDD;
	float:left;
	margin:5px; 
	padding: 10px;
	width:270px;
	height:200px;
	-o-text-overflow: ellipsis;   /* Opera */
	-moz-text-overflow: ellipsis;
	text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
	overflow:hidden; 
	border:1px solid #ccc;
	text-align: justify;
}
.sg-image
{
	height: 100px;
	margin: 5px;
	margin-right: 10px;
	float: left;
	-webkit-box-shadow:0 2px 4px #777;
	-moz-box-shadow: 0 2px 4px #777;
	box-shadow: 0 2px 4px #777;
}
.sg-title
{
	font-size: 16px;
	font-weight: bold;
	padding-bottom:2px;
	text-align: center;
	color: #225588;
	border-width: 0 0 5px 0;
	border-image:url('images/borderimage.png') 18 18 18 18 stretch;
}
.sg-toolbar-bottom{
	height: 24px;
	padding-top: 9px !important;
	border-top: 1px solid gray !important;
	border-image: none;
	background-color: whitesmoke;
	background-image: none;
}
.sg-toolbar-top{
	height: 34px;
	border-bottom: 1px solid gray !important;
	border-image: none;
	background-color: whitesmoke;
	background-image: none;
}
.sg-toolbar-top-search{
	width: 400px !important;
	height: 24px !important;
	margin-right: 5px!important;
	padding-top: 0px !important;
	margin-top: 0px !important;
}
.sg-toolbar-top-search-field{
	width: 398px !important;
	height: 24px !important;
	font-size: 14px !important;
	padding-top: 0px !important;
	margin-top: 0px !important;
}
.toolbar-spacer
{
	width: 100px;
}

.sg-panel
{
}
.sg-form{
	/*    background-color: green;
	    border-width: 5px !important;
	    border-image:url('images/borderimage.png') 18 18 18 18 stretch !important;*/
}
.sg-form-body{
	border-width: 0px;
	background-color: white; 
}
.sg-form-infogroup{
	background: white;
	border-width: 0 0 0 0 !important;/*era 0 0 5px 0*/
	border-image:url('images/borderimage.png') 18 18 18 18 stretch !important;
	padding:  5px;
}
.sg-form-infogroup-header{
	border-width: 0px;
	background-color: white;
}
.sg-form-infogroup-body{
	border-width: 0px;
}
.sg-form-title{
	font-size: 20px;
	font-weight: bold;
	padding-bottom:2px;
	text-align: center;
	color: #225588;
	border-width: 0 0 5px 0;
	border-image:url('images/borderimage.png') 18 18 18 18 stretch;

}
.x-form-item-label{
	font-weight: bold;
}
.sg-form-field{
	padding: 3px;
}
.sg-form-image
{
	height: 200px;
	padding: 5px;
}
.sg-form-attach
{
	border-width: 0px;
	padding: 0px;
}
.serious-game-tab-panel
{

}
.alineaincentro
{
	text-align: center; 
}
.ext-ie .x-item-disabled .x-btn-mc img {
	filter: alpha(opacity=10) !important;
}




